# Python Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# IDE/editor directories
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# dotenv environment files
.env
.env.* 

# Logs
*.log

# Temporary files
*.tmp
tmp/

# Editor backup and swap files
*~
*.swp
*.swo

# Docker Compose overrides
docker-compose.override.yml
docker-compose.*.yml

data/
